* {
    outline-style: none;
}

body {
    background: url(img/pixel_weave.png);
    padding: 0;
    font-family: Menlo, Inconsolata, monospace;
    margin: 0 auto;
}

header {
    background: url(img/header_bg.png) repeat-x;
    width: 100%;
    height: 64px;
}

#header {
    width: 900px;
    margin: 0 auto;
}

#menu {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#menu > li {
    float: left;
}

#menu > li > a {
    display: block;
    height: 43px;
    padding: 0px 25px;
    padding-top: 22px;
    text-transform: uppercase;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

#menu > li > a:hover, #menu > li > a.active {
    background: rgba(255,255,255,0.07);
}

#menu > li#download > a {
    color: #d4ffad;
}

#logo {
    display: block;
    float: left;
    width: 149px;
    height: 34px;
    padding-top: 13px;
    background: url(img/header_logo.png) no-repeat center bottom;
    margin-right: 40px;
    margin-left: 20px;
}

#wrapper {
    width: 900px;
    margin: 0 auto;
    padding: 40px 0;
}

#content {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    border: 1px solid #aaaaaa;
    background: white;

    min-height: 100px;
}

#step-number {
    background: #ebebeb;
    padding: 20px 25px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

#step-number #img {
    width: 334px;
    height: 53px;
    margin: 0 auto;
    background: url(img/steps.png) no-repeat;
}

#step-number #img.step2 {
    background-position: 0px -53px;
}

#step-number #img.step3 {
    background-position: 0px -106px;
}

#loader {
    width: 550px;
    margin: 0 auto;
}

#choose-file {
    display: block;
    width: 320px;
    padding: 15px 30px;
    margin: 30px auto;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    border: 1px solid #aaaaaa;
    background: #ebebeb;

    font-size: 18px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #595959;
    cursor: pointer;
}

#choose-file:hover {
    /*
    border-color: #eea98d;
    background: #ffe6dc;
    color: #ff6a2f;
    transition: all 0.2s ease-in;*/
    -webkit-box-shadow: inset 0px 2px 8px -3px rgba(0,0,0,0.3);
    -moz-box-shadow:    inset 0px 2px 8px -3px rgba(0,0,0,0.3);
    box-shadow:         inset 0px 2px 8px -3px rgba(0,0,0,0.3);
}

#start-process, #export-button {
    display: block;
    width: 200px;
    padding: 15px 30px;
    margin: 30px auto;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    border: 1px solid #aaaaaa;
    background: #ebebeb;

    font-size: 18px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #595959;
    cursor: pointer;
    border-color: #eea98d;
    background: #ffe6dc;
    color: #ff6a2f;
}

#start-process:hover, #export-button:hover, #render:hover {
    -webkit-box-shadow: inset 0px -2px 18px -3px rgba(255,106,47,0.6);
    -moz-box-shadow:    inset 0px -2px 18px -3px rgba(255,106,47,0.6);
    box-shadow:         inset 0px -2px 18px -3px rgba(255,106,47,0.6);
}

#image-browser {
    display: none;
}

#processed {
    padding: 30px;
}

.process {
    display: block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #f5f9fa;
    border: 1px solid #b9c2c7;
    padding: 7px 21px;
    color: #435c66;
    font-size: 12px;
    margin-bottom: 7px;
}

.process.loading {
    background: #f5f9fa url(img/load.gif) no-repeat 16px center;
    padding-left: 42px;
    border-color: #d2d9dd;
}

#render {
    display: block;
    width: 130px;
    padding: 5px 10px;
    margin: 11px auto;
    margin-bottom: 0;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;

    border: 1px solid #aaaaaa;
    background: #ebebeb;

    font-size: 18px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #595959;
    cursor: pointer;
    border-color: #eea98d;
    background: #ffe6dc;
    color: #ff6a2f;
}

#result-container {
    padding: 30px;
}

#result > span > input {
    display: inline-block;
    font-family: monospace;
    font-size: 12px;
    border: none;
    /*border: 1px solid gray;*/
    margin: 1px -2px;
    /*margin: 0 -2px;*/
}

#result > span >input:focus {
    border: 1px solid gray;
    margin: 0 -3px;
    -webkit-box-shadow: 0px 0px 130px 23px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 130px 23px rgba(0,0,0,0.08);
    box-shadow: 0px 0px 130px 23px rgba(0,0,0,0.08);
}

#result > span {
    position: relative;
}

#result > span.error > input {
    background: #ffe1db;
}

#result > span.error > input:focus {
    border-color: #3679d2;
    margin: 0 -3px;
}

#result > span.corrected > input {
    background: #b2ddaa;
}

#result > span > .correctionlist {
    position: absolute;
    left: -10px;
    top: 25px;
    display: none;
    z-index: 1000;
}

#result > span > .correctionlist > ul {
    margin: 0;
    padding: 4px 0;
    list-style-type: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #c6d5ff;
    background: white;
    -webkit-box-shadow: 0px 1px 7px rgba(50, 50, 50, 0.20);
    -moz-box-shadow:    0px 1px 7px rgba(50, 50, 50, 0.20);
    box-shadow:         0px 1px 7px rgba(50, 50, 50, 0.20);
}

#result > span > .correctionlist > ul > li {
    color: #3679d2;
    padding: 4px 10px;
    font-size: 12px;
    border-bottom: 1px solid #e8eeff;
}

#result > span > .correctionlist > ul > li:hover {
    cursor: pointer;
    background: #eef2ff;
}

#result > span > .correctionlist > ul > li:last-child {
    border-bottom: none;
}

#export-button {
    margin: 0 auto;
    margin-bottom: 15px;
    padding: 7px 15px;
    width: 150px;
}

.errorinfo {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    color: #606060;
    padding: 30px;
}

.errorinfo a {
    font-weight: normal;
    color: #ff6a2f;
}

footer {
    text-align: right;
    padding: 20px 30px;
}
